@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Order Management Portal</h1>

<p>
    Use the options below to get started:
</p>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="create-order">
        <strong>Create New Order</strong>
        <div>Start a new order and select products.</div>
    </a>
    <a class="list-group-item list-group-item-action" href="view-quotes">
        <strong>View Quotes</strong>
        <div>See available quotations for your orders.</div>
    </a>
    <a class="list-group-item list-group-item-action" href="review-selection">
        <strong>Review & Finalize</strong>
        <div>Review your selections and finalize your order.</div>
    </a>
    <a class="list-group-item list-group-item-action" href="summary">
        <strong>Order Summary</strong>
        <div>View the summary and status of your orders.</div>
    </a>
</div>
